termset linguist-vendored
pwriter80/*.mss linguist-vendored
*.mss linguist-vendored
.mss linguist-vendored
GNUmakefile linguist-vendored
Makefile linguist-vendored
oemkit/pmailer/80/tmplt.inc linguist-vendored
oemkit/pmailer/80/iovars.inc linguist-vendored
oemkit/pmailer/80/extsort.inc linguist-vendored
oemkit/pmailer/80/listform.inc linguist-vendored
oemkit/pmailer/80/list.inc linguist-vendored
oemkit/pmailer/80/template.inc linguist-vendored
oemkit/pmailer/80/format.inc linguist-vendored
oemkit/pmailer/80/help.inc linguist-vendored
oemkit/pmailer/80/sys.inc linguist-vendored
oemkit/pmailer/80/db.inc linguist-vendored
oemkit/pmailer/80/gentmplt.inc linguist-vendored
oemkit/pmailer/80/subset.inc linguist-vendored
oemkit/pmailer/80/gendb.inc linguist-vendored
oemkit/pmailer/80/term.inc linguist-vendored
oemkit/pmailer/80/mform.inc linguist-vendored
oemkit/pmailer/80/htab.inc linguist-vendored
oemkit/pmailer/80/files.inc linguist-vendored
oemkit/pmailer/80/accind.inc linguist-vendored
oemkit/pmailer/80/ascii.inc linguist-vendored
oemkit/pmailer/80/constant.inc linguist-vendored
oemkit/pmailer/80/mail.inc linguist-vendored
